<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layouts/adminlayout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
    <section>
      <div class="bg-white border rounded-5">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Category list</h3>
      <section class="section-preview p-1">
              <div class="mt-2 mb-2">
            <a th:href="@{/Admin/Categories/Add}">
              <button class="btn btn-info btn-rounded btn-sm">Add
                <i class="fas fa-plus-square ml-1"></i>
              </button>
            </a>
          </div>
        <div class="wrapper-editor">
          <div id="dtBasicExample_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table id="dtBasicExample" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                <thead>
                  <tr>
                    <!--Số thứ tự lấy thẳng từ CSDL lên-->
                    <td class="th-sm">No.</td>
                    <td class="th-sm">Name</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody >
                  <tr th:each="category: ${categories.pageList}">
                    <td scope="row" th:text="${category.categoryId}"></td>
                    <td th:text="${category.name}"></td>
                    <td>
                      <a th:href="@{/Admin/Categories/Delete/{id}(id=${category.categoryId})}"><button class="btn btn-danger">Delete</button></a> 
                      <span>|</span> 
                      <a  th:href="@{/Admin/Categories/Update/{id}(id=${category.categoryId})}"><button class="btn btn-warning" >Update</button></a>
                      <!-- hỏi -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <!-- <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="dtBasicExample_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dtBasicExample_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="dtBasicExample_previous">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="0" tabindex="0" class="page-link waves-effect">Previous</a>
                </li>
                <li class="paginate_button page-item active">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="1" tabindex="0" class="page-link waves-effect">1</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="2" tabindex="0" class="page-link waves-effect">2</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="3" tabindex="0" class="page-link waves-effect">3</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="4" tabindex="0" class="page-link waves-effect">4</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="5" tabindex="0" class="page-link waves-effect">5</a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="6" tabindex="0" class="page-link waves-effect">6</a>
                </li>
                <li class="paginate_button page-item next" id="dtBasicExample_next">
                  <a href="#" aria-controls="dtBasicExample" data-dt-idx="7" tabindex="0" class="page-link waves-effect">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-2 mb-2">
            <li th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
              <a class="page-link" th:href="@{/Admin/Categories/List}">First</a>
            </li>
            <li th:class="${currentIndex == 1}? 'page-item disabled': 'page-item'">
              <a class="page-link" aria-label="Previous" th:href="@{|${baseUrl}${currentIndex - 1}|}" title='Go to previous page'>
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span></a>
            </li>
            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}" th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
              <a class="page-link" th:href="@{|${baseUrl}${item}|}">
                <span th:text='${item}'>1</span>
            </a>
            </li>
            <li th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
              <a class="page-link" aria-label="Next" th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'>
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
              <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>   
  </div>
</section>
</div>
</body>
</html>