<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quy chuẩn đặt tên</h1>

    <div><h2>- File .html viết thường để phân biệt folder vs file html </h2></div>

    <div><h2>- Tạo class controller viết hoa chữ đầu mỗi từ phải có từ Controller phía sau</h2></div>

    <div><h2>- Mỗi controller phải có @RequestMapping("Tên folder chứa controller/Tên Controller")</h2></div>

    <div><h2>- GetMapping-PostMapping("Tên của hàm")</h2></div>

    <div><h2>- Tạo Controller liên quan đến class nào thì tạo bỏ vào folder có tên class đó</h2></div>

    <div><h2>- Tên biến viết thường chữ cái đầu viết bằng English</h2></div>

    <div><h2>- Tạo folder viết hoa chữ cái đầu mỗi từ</h2></div>

    <h1>Phím tắt</h1>

    <div><h2>- Ctrl + Alt+ F Format code (VS code)</h2></div>

    <div><h2>- Ctrl + Shilf + F Format code (Eclipse)</h2></div>

    <h1>Quy tắt github</h1>
</body>
</html>